%h1 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.email_field :email, :placeholder => "Email", :type => "text", :class => "form-control"
  .field
    = f.password_field :password, :placeholder => "Password (min 8 char.)", :class => "form-control"
    
  %div
    %input{ name: "commit", type: "submit", value: "Sign up", class: "btn btn-primary"}
= render "devise/shared/links"